**/dist
**/coverage
**/.idea
**/.vscode
**/.nyc_output
**/.github
**/node_modules

**/*.gitattributes
**/*.gitignore
**/*.Prettierrc
**/*.prettierignore
**/*.browserslistrc
**/*.editorconfig
**/*.eslintignore

**/*.md
**/*.sass
**/*.ico
**/*.png
**/*.jpg
**/*.jpeg
**/*.svg

**/*.ttf
**/*.woff
**/*.woff2

**/*.tgz

**/*.properties
.npmrc
.scannerwork
.angular

tmp
docs