@use "sass:map"
@use "responsive"
@use "../grid-layout" as gridLayout

\:host
  $horizontal-margin: 24px

  display: grid

  @mixin container($size, $type)
    &.#{$type}
      $span: 12

      grid-template-columns: repeat($span, 1fr)

      @if (($type == 'stretch') or ($size == 'xs'))
        margin: 0 $horizontal-margin
      @else
        width: map.get(map.get(gridLayout.$gutter-map, $type), $size) * ($span - 1) + map.get(gridLayout.$width-map, $size) * $span
        margin: auto

  @include responsive.media-down('sm')
    @include container('xs', 'stretch')
    @include container('xs', 'centered')

  @include responsive.media-between('sm','md')
    @include container('sm', 'stretch')
    @include container('sm', 'centered')

  @include responsive.media-up('md')
    @include container('md', 'stretch')
    @include container('md', 'centered')