<form [formGroup]="formGroup">
  <fieldset>
    <legend>Personal Details</legend>
    <app-row>
      <app-column mdSpan="6" smSpan="6">
        <app-text-input formControlName="firstName" fieldName="First name" required></app-text-input>
      </app-column>
      <app-column mdSpan="6" smSpan="6">
        <app-text-input formControlName="lastName" fieldName="Last name"></app-text-input>
      </app-column>
    </app-row>
    <app-row>
      <app-column xsSpan="6" smSpan="6" mdSpan="6">
        <app-text-input formControlName="email" fieldName="Email"></app-text-input>
      </app-column>
    </app-row>
    <app-row>
      <app-column xsSpan="6" smSpan="6" mdSpan="6">
        <app-phone-input
          formControlName="phone"
          fieldName="Phone"
          [mask]="phonePattern"
          [prefix]="phonePrefix"
        ></app-phone-input>
      </app-column>
    </app-row>
  </fieldset>
</form>
